body {
  background-color: black;
}

img {
  height: 400px;
  border-radius: 10px;
  margin: 20px 0 20px 0;
  border: 10px black solid;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 40px;
  border: none;
  outline: none;
  margin: 2px;
  border-radius: 50%;
  padding: 15px;
  text-transform: uppercase;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #be2fed);
  background-image: -moz-linear-gradient(top, #3498db, #be2fed);
  background-image: -ms-linear-gradient(top, #3498db, #be2fed);
  background-image: -o-linear-gradient(top, #3498db, #be2fed);
  background-image: linear-gradient(to bottom, #3498db, #be2fed);
  -webkit-border-radius: 30;
  -moz-border-radius: 30;
  border-radius: 30px;
  font-family: Arial;
  color: #61fc00;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: dotted #ffa8a8 8px;
  text-decoration: none;
}

.btn:hover {
  cursor: pointer;
  background: #fff200;
  background-image: -webkit-linear-gradient(top, #fff200, #343cd9);
  background-image: -moz-linear-gradient(top, #fff200, #343cd9);
  background-image: -ms-linear-gradient(top, #fff200, #343cd9);
  background-image: -o-linear-gradient(top, #fff200, #343cd9);
  background-image: linear-gradient(to bottom, #fff200, #343cd9);
  text-decoration: none;
}

.btn:active {
  cursor: pointer;
  background: #fff200;
  background: #f76868;
  background-image: -webkit-linear-gradient(top, #f76868, #c2ff9e);
  background-image: -moz-linear-gradient(top, #f76868, #c2ff9e);
  background-image: -ms-linear-gradient(top, #f76868, #c2ff9e);
  background-image: -o-linear-gradient(top, #f76868, #c2ff9e);
  background-image: linear-gradient(to bottom, #f76868, #c2ff9e);
}

button:focus {
  outline: none;
}

